@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #eee;
}

html::-webkit-scrollbar-thumb {
  background: #fefeff;
  border-radius: 5rem;
}

body {
  background: #eee;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: #333;
}

.heading span {
  color: #0984e3;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  background: #ffffff;
}

.btn:hover {
  background: #333;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  color: gray;
  font-weight: bolder;
  text-decoration: none;  
}

.header .logo i {
  color: gray;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: gray;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: rgb(228, 225, 212);
}

.navbar-nav{
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
    color: gray !important;
}
.btn{
    margin-top: 0 !important;
    padding: 3px 15px !important;
    color: gray;
}
.form-control{
    font-size: 15px;
    width: 400px;
    margin-right: 3px;
}
.btn:hover{
    background-color: #0984e3;
    border-style: none;
}
.me-auto{
    margin-right: 50px !important;
}

/* Footer Section */
h6 a{
    text-decoration: none;
    color: black;
}
h6{
    font-size: 12px !important;
}
.dag{
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: gray;
}


/* Contact Form Details */
.info-container .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 2rem;
}
  
.info-container .box-container .box {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
    border: 0.2rem solid #333;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
  
.info-container .box-container .box i {
    height: 7.5rem;
    width: 7.5rem;
    line-height: 7.5rem;
    font-size: 2.5rem;
    border-radius: 50%;
    margin-bottom: .5rem;
    background: #0984e3;
    color: #fff;
}
  
.info-container .box-container .box h3 {
    font-size: 2rem;
    padding: 0rem 0;
    color: #333;
}
  
.info-container .box-container .box p {
    font-size: 1.5rem;
    line-height: 1;
    color: #666;
}
  
.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
}
  
.contact form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
}
  
.contact form h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 1rem;
}
  
.contact form p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
}
  
.contact form .inputBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
  
.contact form .inputBox input {
    width: 49%;
}
  
.contact form .inputBox input, .contact form textarea {
    padding: 1.2rem 1.4rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border: 0.2rem solid #333;
    background: #fff;
    text-transform: none;
    color: #666;
    font-size: 1.5rem;
    margin: .7rem 0;}
.contact form textarea {
    height: 15rem;
    resize: none;
    width: 100%;}
  
.contact .map {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    width: 100%;
}
.newsletter {
    background: #0984e3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
}
  
.newsletter .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 5rem;
            flex: 1 1 5rem;
}
  
.newsletter .content h3 {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
}
  
.newsletter .content p {
    font-size: 2.0rem;
    color: #fff;
}
  
.newsletter form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 5rem;
            flex: 1 1 5rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem;
    border-radius: .5rem;
}
  
.newsletter form .email {
    width: 100%;
    padding: 0 rem;
    text-transform: none;
    color: #666;
    font-size: 1.6rem;
}
  
.newsletter form .btn {
    margin-top: 0;
}

/* Add To Cart Option */
.btn, h1, h2 {
    font-weight: 600;
  }
  
  h1 {
    margin-left: -10px;
    margin-top: 50px;
  }
  
  h2 {
    margin-right: 10px;
  }
  
  table {
    padding-top: 10px;
  }
  
  th, td {
    width: 20%;
  }
  
  form input {
    margin-right: 35px;
  }